.u-section-1 .u-sheet-1 {
  min-height: 1204px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 1052px;
  height: auto;
  margin: 20px 60px 0 40px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 20px 20px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    width: 570px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }
}